* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.carrousel {
    width: 100%;
    overflow: scroll; /* propeidad para hacer el carrousel un scroll horizontal. */
    padding: 3rem;
    position: relative;
}

.carrousel_container {
    white-space: nowrap; /*por defecto se ubicarian los elementos hacía abajo, con esta propiedad los deja seguir */
    margin: 7rem 0rem;
    padding-bottom: 1rem;    
}

.carrousel_container:hover .carrousel-item {    /*cuando haga hover el elemento haga esto.... Opacarse*/
    opacity: 0.3;
}

.carrousel_container:hover .carrousel-item:hover {     /*Cuando haga hover el elemento que este hover haga esto...  Aumente su escala*/
    transform: scale(1.5);
    opacity: 1;   /*Cuando le haga hover vuelva a opacidad 100% */
}

.carrousel-item {
    width: 20rem;
    height: 25rem;
    border-radius: 2rem;
    overflow: hidden;
    margin-right: 1rem;
    display: inline-block;
    cursor: pointer;
    transition: 450ms;   /*Tiempo que se demora en hacer la animación... hace que se vea mas fluida  */
    transform-origin: center left;   /*Se centre comenzando desde la izq */
    position: relative;
    font-size: 2rem;
}

.carrousel-item:hover ~ .carrousel-item {  /*cuando haga hover y tmb sin hacerlo haga esto.... Desplazarse a la derecha */
    transform: translate3d(10rem, 0, 0);
}

.carrousel-item_img {
    width: 20rem;
    height: 25rem;
    object-fit: cover; /*Guardar la proporción de la imagen y que se acomode a las medidas que establecimos */
}

.carrousel-item_details {
    display: flex;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 1rem;
    opacity: 0;
    transition: 450ms opacity;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carrousel-item_details--img {
    width: 2rem;
}

.carrousel-item:hover .carrousel-item_details {    /* Cuando seleccionesel item apareceelcontenido "texto logos etc." devolverle opaciocad a 1 pq esta en 0 en el Padre */
    opacity: 1;
}

.carrousel-item_details--title {
    color: white;
    margin: 0.5rem 0rem 0rem 0rem;

}

