* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}

.header {
    background-color: #21c08b;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_img {
    width: 20rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.login {
    background: linear-gradient(#21c08b, #ab88ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 20rem);
}

.login_container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    padding: 6rem 6.8rem 4rem;
    border-radius: 4rem;
    color: white;
    min-height: 70rem;
    width: 35rem;
    display: flex;    
    flex-direction: column;
    justify-content: space-around;

}

.login_container-form {
    display: flex;
    flex-direction: column;
}

.login_container-form label {
    font-size: 1rem;
}

.login_container-remember-me {
    color: white;
    display: flex;
    justify-content: space-between;    
}

.login_container-remember-me a {
    color: white;
    text-decoration: none;
}

.login_container-remember-me a:hover {
    text-decoration: underline;
}

.login_container-social-media > div {    /* Todos los div que esten en la clase .login......socialmedia */
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.login_container-social-media > div > img{  /*Todas las img que esten en los div de esa clase..... */
    width: 3rem;
    margin-right: 0.5rem;
}

.login_container-register {
    font-size: 1.2rem;
}

.login_container-register a {
    font-size: 1.3rem;
    color: rgb(54, 54, 54);
    font-weight: bold;
    text-decoration: none;
}

.login_container-register a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0.2rem solid white;
    margin-bottom: 1.5rem;
    padding: 0px 1.5rem;
    outline: none;
    height: 4rem; /* darle altura para separar el placeholder dela línea */
}

::placeholder {
    color: white;
}

.button {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2.5rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    height: 4rem;
    letter-spacing: 0.1rem; 
    margin : 1rem 0px;

}

.footer {
    display:flex;
    align-items: center;
    height: 10rem;
    width: 100%;
    background-color: #ab88ff;
    justify-content: center;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 3rem;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
