* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}

.header {
    background-color: #21c08b;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_img {
    width: 20rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.login {
    background: linear-gradient(#21c08b, #ab88ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 20rem);
}

.login_container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    padding: 6rem 6.8rem 4rem;
    border-radius: 4rem;
    color: white;
    min-height: 70rem;
    width: 35rem;
}

.login_container-form {
    display: flex;
    flex-direction: column;
}

.login_container-form label {
    font-size: 1rem;
}

.login_container-remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.login_container-remember-me a {
    color: white;
    text-decoration: none;
}

.login_container-remember-me a:hover {
    text-decoration: underline;
}

.login_container-social-media > div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

}