* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: #8f57fd;

}

.header {
    background-color: #8f57fd;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_img {
    width: 20rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.header_menu {
    margin-right: 3rem;
}

.header_menu_profile {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    
}

.header_menu_profile img {
    width: 4.5rem;
    margin-right: 0.8rem;
}

.header_menu_profile p {
    color: white;
}


.header_menu ul {
    display: none;
    list-style: none;
    position: absolute;
    width: 10rem;
    text-align: right;
    margin: 0px 0px 0px -12px;
    font-size: 1.5rem;
}

.header_menu:hover ul, ul:hover {
    display: block;     /* Al utilizar el display none de arriba en el Ul y display block en hover creamos el efecto de solo mostrarse al hacer hover */
}

.header_menu li {
    margin: 10px 0px; 
}

.header_menu li a {
    color: white;
    text-decoration: none;
}

.header_menu li a:hover {
    text-decoration: underline;
}

.main {
    height: 30rem;
}

.main_title {
    color: white;
    font-size: 2.5rem;
}

.main_input {
    border: 0.2rem solid white;
    border-radius: 2.5rem;
    color: white;
    font-size: 1.6rem;
    height: 5rem;
    width: 70%;
    padding: 0px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;

}

::placeholder {
    color: white;
}
